.gallery__trash {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;

  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  width: 18px;
  height: 19px;

  background-image: url('../../../images/svg/btn-trash.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
