.profile__name {
  margin: 0;
  display: block;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  max-width: 300px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 560px) {
  .profile__name {
    font-size: 34px;
    line-height: 33px;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .profile__name {
    font-size: 27px;
    max-width: 200px;
  }
}
