.popup__title {
  margin: 0;
  margin-bottom: 36px;
  line-height: 29px;
  color: var(--black-color);
  font-weight: 900;
  font-size: 24px;
}

@media screen and (max-width: 480px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 62px;
  }
}
