.header__auth {
  color: #fff;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
}
@media screen and (max-width: 400px) {
  .header__auth {
    font-size: 14px;
  }
}
