.footer__copyright {
  margin: 0;
  display: inline-block;
  text-decoration: none;
  color: var(--grey-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 400px) {
  .footer__copyright {
    font-size: 14px;
  }
}
