.profile__add {
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;

  background-image: url('../../../images/svg/btn-add.svg');
  background-size: 22px 22px;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 680px) {
  .profile__add {
    width: 50px;
  }
}

@media screen and (max-width: 560px) {
  .profile__add {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .profile__add {
    width: 100%;
    background-size: 16px 16px;
  }
}
