.profile {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 560px) {
  .profile {
    flex-direction: column;
    gap: 32px;
  }
}

@media screen and (max-width: 400px) {
  .profile {
    padding-left: 20px;
    padding-right: 20px;
  }
}
