.header__link {
  display: inline-block;
  text-decoration: none;
  transition: transform 0.4s ease-in-out;
}

.header__link:hover {
  transform: translateX(10px);
}

@media screen and (max-width: 400px) {
  .header__link {
    margin-left: 28px;
    max-width: 100px;
  }
}
