.authorization__signin {
  margin-top: 15px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 410px) {
  .authorization__signin {
    margin-top: 20px;
  }
}
