.popup__container {
  position: relative;
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 34px 36px 37px;
  width: 430px;
  box-sizing: border-box;
}

@media screen and (max-width: 540px) {
  .popup__container {
    width: 282px;
    height: 322px;
    padding: 26px 20px 28px;
  }
}
