/* ----VENDOR---- */
@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');
@import url('./vendor/vars.css');
/* ----BLOCKS---- */
@import url('./blocks/page/page.css');
@import url('./blocks/container/container.css');
/* ----header---- */
@import url('./blocks/header/header.css');
@import url('./blocks/header/__link/header__link.css');
@import url('./blocks/header/__logo/header__logo.css');
/* ----hover---- */
@import url('./blocks/hover/hover.css');
/* ----profile---- */
@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__avatar/profile__avatar.css');
@import url('./blocks/profile/__img/profile__img.css');
@import url('./blocks/profile/__person/profile__person.css');
@import url('./blocks/profile/__name/profile__name.css');
@import url('./blocks/profile/__job/profile__job.css');
@import url('./blocks/profile/__edit/profile__edit.css');
@import url('./blocks/profile/__add/profile__add.css');
/* ----gallery---- */
@import url('./blocks/gallery/gallery.css');
@import url('./blocks/gallery/__list/gallery__list.css');
@import url('./blocks/gallery/__item/gallery__item.css');
@import url('./blocks/gallery/__content/gallery__content.css');
@import url('./blocks/gallery/__trash/gallery__trash.css');
@import url('./blocks/gallery/__info/gallery__info.css');
@import url('./blocks/gallery/__name/gallery__name.css');
@import url('./blocks/gallery/__image/gallery__image.css');
@import url('./blocks/gallery/__button/gallery__button.css');
@import url('./blocks/gallery/__like/gallery__like.css');
@import url('./blocks/gallery/__like/_active/gallery__like_active.css');
@import url('./blocks/gallery/__counter/gallery__counter.css');
/* ----footer---- */
@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__copyright/footer__copyright.css');
/* -----POPUP----- */
@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/_opened/popup_opened.css');
@import url('./blocks/popup/__container/popup__container.css');
@import url('./blocks/popup/__close/popup__close.css');
@import url('./blocks/popup/__form/popup__form.css');
@import url('./blocks/popup/__title/popup__title.css');
@import url('./blocks/popup/__input/popup__input.css');
@import url('./blocks/popup/__input/_type/popup__input_type_error.css');
@import url('./blocks/popup/__error/popup__error.css');
@import url('./blocks/popup/__error/_visible/popup__error_visible.css');
@import url('./blocks/popup/__submit/popup__submit.css');
@import url('./blocks/popup/__submit/_disabled/popup__submit_disabled.css');

@import url('./blocks/popup/__figure/popup__figure.css');
@import url('./blocks/popup/__img/popup__img.css');
@import url('./blocks/popup/__caption/popup__caption.css');
@import url('./blocks/popup/_picture/popup_picture.css');

/* .gallery__content {
  position: relative;
  cursor: pointer;
  width: 100%;
  padding-top: 100%;
} */
