/* ----VENDOR---- */
@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');
@import url('./vendor/vars.css');
/* ----BLOCKS---- */
@import url('./blocks/page/page.css');
@import url('./blocks/container/container.css');
/* ----header---- */
@import url('./blocks/header/header.css');
@import url('./blocks/header/__link/header__link.css');
@import url('./blocks/header/__logo/header__logo.css');
/* ----hover---- */
@import url('./blocks/hover/hover.css');
/* ----profile---- */
@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__avatar/profile__avatar.css');
@import url('./blocks/profile/__img/profile__img.css');
@import url('./blocks/profile/__person/profile__person.css');
@import url('./blocks/profile/__name/profile__name.css');
@import url('./blocks/profile/__job/profile__job.css');
@import url('./blocks/profile/__edit/profile__edit.css');
@import url('./blocks/profile/__add/profile__add.css');
/* ----gallery---- */
@import url('./blocks/gallery/gallery.css');
@import url('./blocks/gallery/__list/gallery__list.css');
@import url('./blocks/gallery/__item/gallery__item.css');
@import url('./blocks/gallery/__content/gallery__content.css');
@import url('./blocks/gallery/__trash/gallery__trash.css');
@import url('./blocks/gallery/__info/gallery__info.css');
@import url('./blocks/gallery/__name/gallery__name.css');
@import url('./blocks/gallery/__image/gallery__image.css');
@import url('./blocks/gallery/__button/gallery__button.css');
@import url('./blocks/gallery/__like/gallery__like.css');
@import url('./blocks/gallery/__like/_active/gallery__like_active.css');
@import url('./blocks/gallery/__counter/gallery__counter.css');
/* ----footer---- */
@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__copyright/footer__copyright.css');
/* -----POPUP----- */
@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/_opened/popup_opened.css');
@import url('./blocks/popup/__container/popup__container.css');
@import url('./blocks/popup/__close/popup__close.css');
@import url('./blocks/popup/__form/popup__form.css');
@import url('./blocks/popup/__title/popup__title.css');
@import url('./blocks/popup/__input/popup__input.css');
@import url('./blocks/popup/__input/_type/popup__input_type_error.css');
@import url('./blocks/popup/__error/popup__error.css');
@import url('./blocks/popup/__error/_visible/popup__error_visible.css');
@import url('./blocks/popup/__submit/popup__submit.css');
@import url('./blocks/popup/__submit/_disabled/popup__submit_disabled.css');

@import url('./blocks/popup/__figure/popup__figure.css');
@import url('./blocks/popup/__img/popup__img.css');
@import url('./blocks/popup/__caption/popup__caption.css');
@import url('./blocks/popup/_picture/popup_picture.css');

.email {
  color: white;
}

.authorization {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.authorization__title {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 50px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: normal;
}

.authorization__form {
  width: 358px;
}

.authorization__input {
  color: #ccc;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;

  padding-bottom: 10px;
  padding-top: 12px;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}

.authorization__error {
  min-height: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  visibility: hidden;
  opacity: 0;
}

.authorization__submit {
  margin-top: 216px;

  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;

  width: 358px;
  height: 50px;
  border-radius: 2px;
  background: #fff;
}

.authorization__signin {
  margin-top: 15px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.header__email {
  margin-right: 24px;

  color: #fff;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.header__signout {
  color: #a9a9a9;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;

  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.heander__nav {
  display: flex;
  align-items: center;
}

.header__auth {
  color: #fff;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
}

.auth__img {
  margin: 26px auto 32px;
}

.auth__title {
  margin: 0;
  margin-bottom: 23px;
  line-height: 29px;
  color: var(--black-color);
  font-weight: 900;
  font-size: 24px;
  text-align: center;
}
