.header {
  padding-top: 45px;
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 400px) {
  .header {
    padding-top: 28px;
    padding-bottom: 30px;
  }
}
